<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Authors</title>
</head>
<body>
	<h1 class="text-center">Authors List</h1>
	<div class="container">
		<a class="btn btn-success" th:href="@{/authors/register}" role="button">Register</a>
	    <hr>
		<table class="table">
			<thead class="table-dark text-center">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Edit</th>
					<th scope="col">Activate/Deactivate</th>
					<th scope="col">Delete</th>
					<th scope="col">is this active ?</th>
				</tr>
			</thead>
			<tbody>
				<tbody th:each="author: ${list_authors}" class="text-center table-info">
					<tr class="table-active">
						<td scope="row"><strong th:text="${author.id}"></strong></td>
						<td scope="row"><strong th:text="${author.name}"></strong></td>
						<td scope="row"><a class="btn btn-dark" th:href="@{/author_edit}" role="button"><i class="fas fa-edit"></i></a></td>
						<td scope="row">
							<a class="btn btn-dark" th:href="@{/author_state}" role="button"	>
								<abbr title="Deactivate this author"><i th:if="${author.register}" class="fas fa-eye-slash"></i></abbr>
								<abbr title=	"Activate this author"><i th:unless="${author.register}" class="fas fa-eye"></i></abbr>
							</a>
						</td>
						<td scope="row"><a class="btn btn-dark" th:href="@{/author_delete}" role="button"><i class="fas fa-trash"></i></a></td>
						<td scope="row">
							<i th:if="${author.register}" class="fa fa-check text-success"></i>
							<i th:unless="${author.register}" class="fa fa-circle text-danger"></i>
						</td>
						<p class="text-danger" th:if="${error != null}" th:text="${error}"></p>
					</tr>
				</tbody>
			</tbody>
		</table>

		<hr>

        <a class="btn btn-secondary" th:href="@{/}" role="button">Home</a>
        <a class="btn btn-secondary" th:href="@{/books}" role="button">Books</a>
        <a class="btn btn-secondary" th:href="@{/editorials}" role="button">Editorials</a>
	</div>
	
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>