<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head">
    <title>Books Store</title>
    
  </head>
  <body>
      <div class="container">
        <h1 class="text-center">Book Store</h1>
        <!-- <i class="fas fa-user"></i> -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-secondary" th:href="@{/authors/list}" role="button">Authors</a>
            <a class="btn btn-secondary" th:href="@{/books/list}" role="button">Books</a>
            <a class="btn btn-secondary" th:href="@{/editorials/list}" role="button">Editorials</a>
            <a class="btn btn-secondary" th:href="@{/clients/list}" role="button">Clients</a>
            <a class="btn btn-secondary" th:href="@{/loans/list}" role="button">Loans</a>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>